$main-color: #793fa3;
$main-dark: #2d2135;
$secondary: #ffc502;
$secondary-dark: #5b3278;
$grad1: linear-gradient(211.39deg, #793fa3 2.78%, #b520a2 99.43%);
$grad2: linear-gradient(
  215.98deg,
  #793fa3 2.83%,
  #b520a2 57.44%,
  #f7cc1d 94.1%
);

body {
  color: $main-dark;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.13;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1 {
  font-weight: 700;
  font-size: 62px;
  line-height: 1.16;
}
a {
  text-decoration: none;
  color: $main-dark;
}

.container {
  width: 1600px;
  margin: 0 auto;
  padding: 0 92px;
}
.purple {
  color: $main-color;
}
.button {
  display: inline-block;
  min-width: 260px;
  height: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.13;
  color: white;
  text-align: center;
  background: $main-color;
  border: 2px solid $main-color;
  border-radius: 6px;
  cursor: pointer;
}
